.center {
  display:grid;
  grid-template-areas: 
 ' title header '
 'header  header'
  'boss-info display-zone player-info'
  'footer viewLog footer';
  grid-template-columns: 500px 1fr 30px;
}

.center > header {
  grid-area: header;
  background-color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.title {	
	font-family: 'Cinzel', serif;
	display: grid;
	text-align: top;
	color: rgb(133, 180, 211);
	grid-area: "title";
	height: 200px;
	width:500px;
	font-size: 100px;

	
}
/*Boss Related CSS*/
.boss-info {
	
	background-color: grey;
	width: 400px;
	height: 250px;
	display: grid;

}
.boss-name {
	height: 25px;
	text-align: center;
	background-color: rgba(216, 19, 19, 0.6);
  	display: grid;
}
/*Player Related CSS*/
.player-info {
	
	background-color: grey;
	width: 400px;
	height: 250px;
	display: grid;

}
.h2 {
	margin:0px;
	border-style: solid 5px;
}

.player-name {
	height: 25px;
	text-align: center;
	background-color: rgba(34, 207, 72, 0.671);
    display: grid;
	
	
}

.log-info {
	width: 600px;
	height: 200px;
	background-color: grey;
	margin:0px;

}

.boss-DMG {
	background-color:red;
	
}









/**
 * Fancy border
 * ============
*/
.bossPic{
	height: 100px;
	width: 100px;
	border: solid 3px;
	border-color:#0b1319
}

.boss-info {
	border: 35px solid #b88846;
	border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
		25;
}

.playerPic {
	height: 100px;
	width: 100px;

}

.player-info {
	border: 35px solid #b88846;
	border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E")
		25;
}

/**
 * Pen Specific
 * ============
*/

body {
	background: #0b1319;
	display: grid;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin:0px;
}

.health {
  background-color: red;
}

progress[value] {
	width:250px;
	height:20px;
	background-color: red;
}

